<article>
    <h1>New Year's resolutions</h1>
    <p class="post_datetime">01/01/2020 14:00</p>
    <p>I've seen people who, as a New Year's Resolution, have decided to blog every day. That's too much for me, but I
        want to start blogging again so I think new years is a good moment to do it.</p>

    <p> There was a time, when Internet was younger and blogging was new and anonymous, when I wrote a post almost every
        week. They were long posts and served me to reflect and clarify my thoughts (and also to make some friends whom
        nowadays are lost) In those days I wanted many people to read and comment on my posts. Now, I doubt anybody read
        this, so I will use the blog for personal reflections.I believe that doing a weekly written reflection on what I
        am learning, what I am building or the direction I want to take cand help me to clarify my ideas and give me a
        deeper understanding of what's happening.</p>

    <p>This year I want to change jobs and consolidate my knowledge of artificial intelligence, so taking some time each
        week to look back can be useful to me. I also want to improve my English skills, so I'll write it in that
        language. I can read English very well, and I can understand it well, but I'm not used to speaking or writing.
        It will be painful at first (I needed to use an automatic translator and grammar checker to write this and avoid
        some mistakes) but I hope this will get easier over time.</p>

    <p>So, first week covered. Only 51 to go.</p>
</article>